<h1>TestResponse#index</h1>
<p>Find me in app/views/test_response/index.html.erb</p>

<%= form_tag authorizations_path, method: :POST do |f| %>
  client_id: 
  <%= text_field_tag :client_id, "e4fb7deda80051ffda81d060fbe31a32" %> <br>

  response_type:
  <%= text_field_tag :response_type, "token" %><br>

  nonce:
  <%= text_field_tag :nonce, @params[:code] %>

  approve:
  <%= text_field_tag :approve, "true" %>

  <%= submit_tag :token %>
<% end %>
  
